# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
.venv/

# Environment
.env

# Django
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python caches
.pytest_cache/
.mypy_cache/

# Node
node_modules/
dist/

# Coverage
.coverage
htmlcov/