# Python

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment

venv/
attv/

# Database

db.sqlite3

# Media Uploads

media/

# Static Collection

staticfiles/

# Environment Variables

.env

# VS Code

.vscode/

# Logs

*.log

# OS Files

.DS_Store
Thumbs.db